@import url('https://fonts.googleapis.com/css?family=Exo:200,300');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300');
body {
	font-family: 'Exo', 'Noto Sans JP','Meiryo', sans-serif;
	list-style-type: none;
	background-color: #FFF;
	color: #000;
	animation: fadeIn 0.2s ease-out 0s 1 normal;
}

@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}

body,
ul,
li,
p {
	padding: 0;
	margin: 0;
}

a {
	position : relative;
	text-decoration: none;
}

a:after {
	position: absolute;
	bottom: 0px;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: #000;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
  }
  a:hover:after {
	transform: scale(1, 1);
  }

a:link,
a:visited {
	color: #000;
}

.name a:after, .card:after{
	height: 0px;
}

/*margin----------------------------------------------------------*/
.wrapper {
	display: block;
	width: 70%;
	min-width: 900px;
	height: 100%;
	margin: 100px auto;
}

#title {
	float: left;
	text-align: left;
	padding: 0;
	margin-top: 70px;
	position:fixed;
	top: 0px;
}

#title .name {
	font-weight: 200;
	font-size: 30px;
	margin: 50px 0;
}
#title .name a:link,
#title .name a:visited {
	color: #000;
}

#title .name .contact{
	display: block;
	margin-top: 10px;
	font-weight: 300;
	font-size: 15px;
}

#title ul li {
	font-weight: 300;
	font-size: 19px;
	margin: 20px 0;
	list-style: none;
}

#content {
	width: auto;
	height: 100%;
	min-width: 400px;
	margin: 0;
	margin-left: calc(90px + 10%);
	font-size: 0;
}

/*work----------------------------------------------------------*/

.card {
	display: block;
	margin: 0;
	overflow: hidden;
}

.block1 {
	width: calc(100%/3);
	aspect-ratio: 1;
	min-width: 100px;
	max-width: 380px;
}

.block2 {
	width: calc(100% * 2/3);
	aspect-ratio: 2;
	min-width: 202px;
	max-width: 762px;
}

.block3 {
	width: 100%;
	aspect-ratio: 3;
}

.block4 {
	width: calc(100% * 2/3);
	aspect-ratio: 1;
	min-width: 202px;
	max-width: 762px;
}
.card-text{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #000;
	background: rgba(0,0,0,0);
	transition: all 0.3s ease;
}

.card-text:hover{
	background: rgba(0,0,0,0.2);
	transition:	all 0.3s ease;
}

.card-title{
	display: inline;
	background: linear-gradient(#FFF, #FFF) left bottom/100% 1px no-repeat;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5em;
	padding: 0 10px;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	background-repeat: no-repeat;
	background-size: 0;
	opacity: 0;
}

.card-text:hover .card-title{
	opacity: 1;
	transition:	all 0.3s ease;
	background-size: 100%;
}

.card-image {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	object-fit: cover;
}

/*about---------------------------------------------------------*/
.about-container{
	display: flex;
	margin-top: 200px;
	margin-left: 5%;
}

.about-icon{
	display: inline-block;
	vertical-align: top;
	height: 30%;
	width: 30%;
	max-height: 200px;
	max-width: 200px;
	box-shadow: 3px 3px rgb(88, 179, 151);
}

.about-text{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 60px;
}

.about-name{
	display: block;
	font-weight: 200;
	font-size: 40px;
	margin-bottom: 20px;
}

.kata{
	font-size: 25px;
}

.about-contact{
	display: block;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 15px;
}

.about-description{
	display: block;
	font-weight: 300;
	font-size: 18px;
	margin: 0;
	padding-top: 20px;
	border-top: 1px solid #000;
}

/*project-----------------------------------------------------*/

.project-video{
	position: relative;
	height: 0;
	padding: 0 0 56.25%;
	overflow: hidden;
	margin-bottom: 30px;
}

.project-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-text{
	margin-bottom: 50px;
}

.project-title{
	display: inline-block;
	font-size: 30px;
}

.project-date{
	display: inline-block;
	margin-left: 20px;
	font-size: 20px;
}

.project-desc{
	margin-top: 20px;
	font-size: 16px;
}

.project-credit{
	font-size: 16px;
}

.project-image{
	margin-bottom: 2px;
}

.project-screenshot{
	display: inline-block;
	width: calc(50% - 1px);
}

.project-screenshot-margin{
	margin-right: 2px;
}