@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300');
body {
    font-family: 'Exo 2', 'Noto Sans JP','Meiryo', sans-serif;
    list-style-type: none;
    background-color: rgb(245, 245, 245);
    color: rgb(22, 22, 22);
}

body,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

/*no more 下線*/

a {
    text-decoration: none;
}

/*no more 青色リンク*/

a:link,
a:visited {
    color: rgb(40, 175, 135);
    transition: 250ms;
}

/*マウスカーソル合わせた時に色を明るく*/

a:hover,
a:active {
    color: rgb(83, 232, 188);
    transition: 250ms;
}

/*-------------------------------------------------------------------------------*/

/*すべてを囲む　コンテナー*/
.container{
    display: block;
    width: 95%;
    margin: 50px 0;
}

/*ヘッダー内での間隔設定*/

#title {
    float: left;
    text-align: left;
    padding: 0;
    margin-top: 70px;
    margin-left: 110px;
    position:fixed;
    top: 0px;
}

/*タイトル（自分の名前）*/

#title .name {
    font-weight: 100;
    font-size: 50px;
    margin: 50px 0;
}
#title .name a:link,
#title .name a:visited {
    color: #000;
}

/*ワークとかアバウトとかその辺*/

#title ul li {
    font-weight: 200;
    font-size: 20px;
    margin: 20px 0;
    list-style: none;

}

.button{
    padding: 0 5px 5px 5px;
    border: solid 1px rgb(40, 175, 135);
    transition: 250ms;
}

.button:hover{
    border: solid 1px rgb(83, 232, 188);
    transition: 250ms;
}

/*Twitterとかその辺*/

#social{
    margin-top: 50px;
}

.button-social{
    display:inline-block;
    width: 33px;
    height: 33px;
}

.social-link{
    padding: 3px;
    border: solid 1px rgb(40, 175, 135);
    fill: none;
    stroke: rgb(40, 175, 135);
    stroke-width: 0.7px;
    transition: 250ms;
}

.social-link:hover{
    border: solid 1px rgb(83, 232, 188);
    fill: none;
    stroke: rgb(83, 232, 188);
    stroke-width: 0.7px;
    transition: 250ms;
}

/*マージンの魔神*/

.wrapper{
    display: block;
    width: auto;
    margin-left: 250px;
    font-size: 0;
}
#content {
    display: block;
    border: solid 0px #000;
    width: 80%;
    max-width:1150px;
    min-width: 600px;
    margin: 0 auto;
    font-size: 0;
}

/*カードデザイン設定　30 x3 + 2.5 x4 = 100*/

.card {
    display: block;
    width: 30%;
    min-width: 250px;
    max-width: 450px;
    margin: 0 0 2.5% 2.5%;
    border: 0;
    background: #f7f7f7;
    box-shadow: 7px 7px rgb(88, 179, 151);
    transition: all 250ms;
}

.card:hover {
    box-shadow: 11px 11px rgb(88, 179, 151);
    transition: all 250ms;
}

.card-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/*アバウト ミーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.about-container{
    display: block;
    margin-top: 200px;
    margin-left: 100px
}

.about-icon{
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 200px;
    box-shadow: 7px 7px rgb(88, 179, 151);
}

#me-margin{
    display:inline-block;
    vertical-align: top;
    margin-left: 80px;
}

.about-name{
    display: block;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 30px;
}

.description{
    display: block;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

.textman{
    font-weight: 100;
    font-size: 50px;
}