@import url('https://fonts.googleapis.com/css?family=Exo:200,300');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300');
body {
    font-family: 'Exo', 'Noto Sans JP','Meiryo', sans-serif;
    list-style-type: none;
    background-color: rgb(245, 245, 245);
    color: #000;
}

body,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

/*no more 下線*/

a {
    position : relative;
    text-decoration: none;
}

a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  a:hover::after {
    transform: scale(1, 1);
  }

a:link,
a:visited {
    color: #000;
}
/*-------------------------------------------------------------------------------*/

/*すべてを囲む　コンテナー*/
.container{
    display: block;
    width: 95%;
    margin: 50px 0;
}

/*ヘッダー内での間隔設定*/

#title {
    float: left;
    text-align: left;
    padding: 0;
    margin-top: 70px;
    margin-left: 110px;
    position:fixed;
    top: 0px;
}

/*タイトル（自分の名前）*/

#title .name {
    font-weight: 200;
    font-size: 30px;
    margin: 50px 0;
}
#title .name a:link,
#title .name a:visited {
    color: #000;
}

/*ワークとかアバウトとかその辺*/

#title ul li {
    font-weight: 300;
    font-size: 19px;
    margin: 20px 0;
    list-style: none;
}

/*マージンの魔神*/

.wrapper{
    display: block;
    width: auto;
    margin-left: 250px;
    font-size: 0;
}
#content {
    display: block;
    border: solid 0px #000;
    width: 80%;
    max-width:1150px;
    min-width: 600px;
    margin: 0 auto;
    font-size: 0;
}

/*ワーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーークス*/

.works_article{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
}

.works_image{
    display:inline-block;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 225px;
}

.works_text{
    display:inline-block;
    vertical-align: top;
}

.works_title{
    font-weight: 400;
    display: block;
    font-size: 20px;
}

.works_description{
    font-weight: 300;
    display: block;
    font-size: 15px;
}

.works_date{
    font-weight: 300;
    display: block;
    font-size: 15px;
}

/*アウトプットオンツイッターーーーーーーーーーーーーーーーーーーー２*/

.card {
    display: block;
    width: 30%;
    min-width: 250px;
    max-width: 450px;
    margin: 0 0 5px 5px;
    border: 0;
    background: #f7f7f7;
    transition: all 250ms;
}

.card-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.card-text{
    width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.card-text:hover{
    opacity: 1;
}

.card-file-name,
.card-sns-link{
    margin-top: 80%;
    margin-left: 15px;
    font-size: 15px;
    color: #fff;
}

/*アバウト ミーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.about_container{
    display: block;
    margin-top: 200px;
    margin-left: 5%;
}

.about_icon{
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 200px;
    box-shadow: 3px 3px rgb(88, 179, 151);
}

#me-margin{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 80px;
}

.about-name{
    display: block;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 15px;
}

.kata{
    font-size: 25px;
}

.about-contact{
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 15px;
}

.about-description{
    display: block;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

.about-link{
    margin: 20px 0;
}

.about-link-button{
    font-weight: 300;
    font-size: 16px;
    margin: 0px 10px 0 0;
}

.textman{
    font-weight: 200;
    font-size: 50px;
}