@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,400,700');
body {
    font-family: 'Exo 2', 'Meiryo', sans-serif;
    list-style-type: none;
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
}

body,
ul,
li {
    padding: 0;
    margin: 0;
}

/*no more 下線*/

a {
    text-decoration: none;
}

/*no more 青色リンク*/

a:link,
a:visited {
    color: rgb(40, 175, 135);
    transition: 250ms;
}

/*マウスカーソル合わせた時に色を明るく*/

a:hover,
a:active {
    color: rgb(83, 232, 188);
    transition: 250ms;
}

/*-------------------------------------------------------------------------------*/

/*すべてを囲む　コンテナー*/
.container{
    display: block;
    width: 90%;
    margin: 50px 0;
}

/*ヘッダー内での間隔設定*/

#title {
    float: left;
    text-align: left;
    padding: 0;
    margin: 0 50px;
    position:fixed;
}

/*タイトル（自分の名前）*/

#title .name {
    font-weight: 100;
    font-size: 50px;
    margin: 50px 0;
}
#title .name a:link,
#title .name a:visited {
    color: #FFF;
}

/*ワークとかアバウトとかその辺*/

#title ul li {
    font-weight: 200;
    font-size: 20px;
    margin: 20px 0;
    list-style: none;

}

.button{
    padding: 0 5px 5px 5px;
    border: solid 1px rgb(40, 175, 135);
}

/*マージンの魔神*/

.wrapper{
    display: block;
    width: auto;
    margin-left: 280px;
    font-size: 0;
}
#content {
    display: block;
    border: solid 0px #000;
    width: 70%;
    max-width:1000px;
    min-width: 600px;
    margin: 0 auto;
    font-size: 0;
}

/*カードデザイン設定　画像を30％x3=90%にして、残りの10%を4分割して2.5%配置したい*/

.card {
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    display: block;
    margin: 0 0 2.5% 2.5%;
    border: 0;
    background: #f7f7f7;
    box-shadow: 5px 5px rgb(16, 70, 53);
}

.card-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/*card-text,card-title,card-contentなるものは現在書いていないけど（前はあった）一応残しておく*/

.card-content {
    margin: 0;
    padding: 3px;
}

.card-title {
    font-weight: 700;
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    color: #000;
}

.card-text {
    padding: 0 auto;
    font-weight: 400;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}