@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,700,900');
body {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', 'Meiryo', sans-serif;
    list-style-type: none;
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
}

/*ヘッダー内での間隔設定*/

#title,
#title ul {
    font-weight: 200;
    padding: 5px 0;
    margin: 5px 0;
    text-align: center
}

/*タイトル（自分の名前）*/

#title h1 {
    font-size: 50px;
}

/*ワークとかアバウトとかその辺*/

#title ul li {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}

/*no more 下線*/

a {
    text-decoration: none;
}

/*no more 青色リンク*/

a:link,
a:visited {
    color: rgb(40, 175, 135);
    transition: 250ms;
}

/*マウスカーソル合わせた時に色を明るく*/

a:hover,
a:active {
    color: rgb(83, 232, 188);
    transition: 250ms;
}

.GIFs {
    padding: 0;
    margin: 6% 20%;
}

#content {
    border: solid 0px #000;
    width: 100%;
    font-size: 0;
}

/*カードデザイン設定　画像を30％x3=90%にして、残りの10%を4分割して2.5%配置したい*/

.card {
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    display: block;
    margin: 0 0 2.5% 2.5%;
    border: 0;
    background: #f7f7f7;
}

.card-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.card-content {
    margin: 0;
    padding: 10px
}

.card-title {
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
    color: #000;
}

/*card-textなるものは書いていないけど一応残しておく*/

.card-text {
    padding: 0 auto;
    font-weight: 400;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

-