<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		yozba
	</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css" media="screen and (min-width: 960px)">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="screen and (max-width: 960px)">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascript/otherpage.js"></script>
	<link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
	<div class="wrapper">
		<!--ヘッダー-->
		<div id="header"></div>
		<!--右側-->
		<section id="content">
			<div class="project-video">
				<iframe src="https://player.vimeo.com/video/636919642" frameborder="0" allow="autoplay; fullscreen"
					allowfullscreen></iframe>
			</div>
			<div class="project-text">
				<p class="project-title">Fragments</p>
				<p class="project-date">July 2021</p>
				<p class="project-desc">2021年度前期課題で制作しました。ファンアートであり、公式コンテンツではありません。</p>
				<p class="project-credit">
					-<br>
					Music:<br>
					Aiobahn - Fragments [<a href="https://bitbird.lnk.to/fragments" target="_blank">Listen</a>]<br>
					<br>
					Links:<br>
					Aiobahn
					[<a href="https://aiobahn.net" target="_blank">aiobahn.net</a>]
					[<a href="https://instagram.com/aiobahn" target="_blank">Instagram</a>]
					[<a href="https://twitter.com/Aiobahn" target="_blank">Twitter</a>]
					[<a href="https://facebook.com/Aiobahn" target="_blank">Facebook</a>]
					<br>
					bitbird
					[<a href="https://bitbirdofficial.com" target="_blank">bitbirdofficial.com</a>]
					[<a href="https://twitter.com/bitbird" target="_blank">Twitter</a>]
					[<a href="https://facebook.com/bitbirdofficial" target="_blank">Facebook</a>]
					[<a href="https://instagram.com/bitbird" target="_blank">Instagram</a>]
					<br>
					<br>
					License:<br>
					[<a href="https://bitbirdofficial.com/licensing/" target="_blank">bitbirdofficial.com/licensing</a>]
				</p>
			</div>
			<div class="project-image">
				<img class="project-screenshot project-screenshot-margin" src="1.png" alt="icon">
				<img class="project-screenshot" src="2.png" alt="icon">
			</div>
			<div class="project-iamge">
				<img class="project-screenshot project-screenshot-margin" src="3.png" alt="icon">
				<img class="project-screenshot" src="4.png" alt="icon">
			</div>
		</section>
	</div>
</body>

</html>